/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09-oct-2020, 14:09:29
    Author     : ekait
*/
@import "_variables.scss";
@import "_mixins.scss";



.jumbotron{
    @include bkgd-gradient($primary-color, $accent-color);	
}

.carousel{
    border-color: $secondary-color;
    box-shadow: 1px 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
.footer{
	font-family: 'Sansita Swashed';
	position: fixed;
	bottom: 0;
}