/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09-oct-2020, 14:08:23
    Author     : ekait
*/

$primary-color: #9CEEF3;
$secondary-color: darken(#9CD4F3, 10%);
$accent-color: #96F5BE ;
$font-color: black;
$font-family: Georgia, serif;

$border-color: darken($primary-color, 10%);





