<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KaitxoMobiles!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('build/app.css')}}">            
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'navbar/public.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
    <footer class="footer">
        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock %}
    </footer>
</html>
